<!DOCTYPE html>
<html lang="en" ng-app="Tombola.NoughtsAndCrosses">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>test-app</title>
</head>
<body>
    <p>Prepare your anus</p>
    <main ng-controller="PlayerSelectionController">
        <div class="playerselection">
            <section class="player">
                <h2>Player 1 = {{player1}}</h2>
                <img ng-src="images/{{player1}}.png"/>
            </section>
            <section class="player">
                <h2>Player 2 = {{player2}}</h2>
                <img ng-src="images/{{player2}}.png"/>
            </section>
            <section class="select">
                <select ng-model="player1">
                    <option value="human">Human</option>
                    <option value="computer">Computer</option>
                    <option value="random">Random</option>
                </select>
                <select ng-model="player2">
                    <option value="human">Human</option>
                    <option value="computer">Computer</option>
                    <option value="random">Random</option>
                </select>
            </section>
            <button ng-click="createGameboard()" ng-hide="playing">Start!</button>
        </div>
        <div class="gameboard" ng-show="playing">
            <table>
                <tr>
                    <td ng-click="gameboardClicked(0);"><img ng-class="setPlayerClass()" ng-src="images/blank.png"/></td>
                    <td ng-click="gameboardClicked(1)"><img ng-class="setPlayerClass()" ng-src="images/blank.png"/></td>
                    <td ng-click="gameboardClicked(2)"><img ng-class="setPlayerClass()" ng-src="images/blank.png"/></td>
                </tr>
                <tr>
                    <td ng-click="gameboardClicked(3)"><img ng-class="setPlayerClass()" ng-src="images/blank.png"/></td>
                    <td ng-click="gameboardClicked(4)"><img ng-class="setPlayerClass()" ng-src="images/blank.png"/></td>
                    <td ng-click="gameboardClicked(5)"><img ng-class="setPlayerClass()" ng-src="images/blank.png"/></td>
                </tr>
                <tr>
                    <td ng-click="gameboardClicked(6)"><img ng-class="setPlayerClass()" ng-src="images/blank.png"/></td>
                    <td ng-click="gameboardClicked(7)"><img ng-class="setPlayerClass()" ng-src="images/blank.png"/></td>
                    <td ng-click="gameboardClicked(8)"><img ng-class="setPlayerClass()" ng-src="images/blank.png"/></td>
                </tr>
            </table>
            <p>{{gameboard.board}}</p>
        </div>
    </main>
    <div class="majesty">
    <img src="images/Majesty.jpg"/>
        <audio controls loop>
            <source src="sound/Silly.mp3" type="audio/mp3"/>
        </audio>
    </div>
    <script type="text/javascript" src="../../thirdparty/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="scripts/app.js"></script>
</body>
</html>