<div class="playerselection">
    <section class="player">
        <h2>Player 1 = {{model.players[0]}}</h2>
        <img ng-src="images/blank.png" class="{{model.players[0]}}" ng-click="model.togglePlayer1Type()"/>
    </section>
    <section class="player">
        <h2>Player 2 = {{model.players[1]}}</h2>
        <img ng-src="images/blank.png" class="{{model.players[1]}}" ng-click="model.togglePlayer2Type()"/>
    </section>
    <div><button ng-click="gameboardModel.createGameboard()" ui-sref="gameboard">Start!</button></div>
</div>
