<div class="playerselection">
    <section class="player">
        <h2>Player 1 = {{model.player1Type}}</h2>
        <img ng-src="images/blank.png" class="{{model.player1Type}}" ng-click="model.togglePlayer1Type()"/>
    </section>
    <section class="player">
        <h2>Player 2 = {{model.player2Type}}</h2>
        <img ng-src="images/blank.png" class="{{model.player2Type}}" ng-click="model.togglePlayer2Type()"/>
    </section>
    <div><button ng-click="gameboardModel.createGameboard()" ui-sref="gameboard">Start!</button></div>
</div>
